.album-card {
  width: 175px;
  height: 175px;

  margin: 10px;
  padding: 15px;

  border-radius: 15px;
  border: gray solid 3px;

  background-color: white;
  color: black;
}

.album-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-cover {
  height: 125px;
  width: 125px;
  margin-bottom: 10px;
}

.album-title {
  font-size: 16px;
}

.album-artist {
  color: grey;
  font-size: 14px;
}

.delete-button {
  width: 20px;
  height: 20px;

  /* margin-top: card padding - 10px */
  margin-top: -25px;
  /* margin-left: card size + 5px */
  margin-left: 180px;
  position: fixed;

  border-radius: 100px;
  border: gray solid 3px;

  background-color: white;
  color: grey;
  font-weight: 700;

  cursor: pointer;
}
