.album-card {
  width: 175px;
  height: 175px;

  margin: 10px;
  padding: 15px;

  border-radius: 15px;
  border: gray solid 3px;

  background-color: white;
  color: black;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-cover {
  height: 125px;
  width: 125px;
  margin-bottom: 10px;
}

.album-title {
  font-size: 16px;
}

.album-artist {
  color: grey;
  font-size: 14px;
}
