.library-display {
  width: 90%;
}

.sort-container {
  display: flex;
  justify-content: flex-end;
}

.sort-direction-toggle {
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
}

.sort-direction-toggle.disabled {
  cursor: not-allowed;
  color: gray;
}

.sort-key-select {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

.sort-key-select:disabled {
  cursor: not-allowed;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
}
